In [1]:
import pandas as pd
import numpy as np

In [10]:
from google.colab import files
uploaded = files.upload()

Saving data-2.csv to data-2.csv

In [14]:
df=pd.read_csv('data-2.csv')
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [15]:
df_new=df.copy()

In [16]:
df_new

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [17]:
df_new['Income'] = df_new['Quantity'] * df_new['UnitPrice']
df_new.head()

  InvoiceNo StockCode  ...         Country  Income
0    536365    85123A  ...  United Kingdom   15.30
1    536365     71053  ...  United Kingdom   20.34
2    536365    84406B  ...  United Kingdom   22.00
3    536365    84029G  ...  United Kingdom   20.34
4    536365    84029E  ...  United Kingdom   20.34

[5 rows x 9 columns]

In [30]:
income=df_new.groupby('Country')['Income'].sum()
income

Country
Australia                135293.710
Austria                   10133.980
Bahrain                     548.400
Belgium                   40728.980
Brazil                     1143.600
Canada                     3599.680
Channel Islands           19950.540
Cyprus                    12791.310
Czech Republic              707.720
Denmark                   18665.180
EIRE                     261643.280
European Community         1291.750
Finland                   22226.690
France                   197070.550
Germany                  220760.880
Greece                     4644.820
Hong Kong                 10037.840
Iceland                    4299.800
Israel                     7867.420
Italy                     16506.030
Japan                     34616.060
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2503.190
Netherlands              283239.060
Norway                    34908.130
Poland                     7193.340
Portugal                  29272.340
RSA                        1002.310
Saudi Arabia                131.170
Singapore                  9054.690
Spain                     54617.260
Sweden                    36374.150
Switzerland               56163.830
USA                        1730.920
United Arab Emirates       1877.080
United Kingdom          8130586.274
Unspecified                4746.650
Name: Income, dtype: float64

In [37]:
income.sort_values(ascending=False).head()

Country
United Kingdom    8130586.274
Netherlands        283239.060
EIRE               261643.280
Germany            220760.880
France             197070.550
Name: Income, dtype: float64

In [38]:
df['Country'].value_counts().head()

United Kingdom    489721
Germany             9448
France              8525
EIRE                8138
Spain               2513
Name: Country, dtype: int64

In [39]:
df_new.groupby('Country')['Income'].mean().sort_values(ascending=False).head()

Country
Netherlands    120.271363
Australia      108.148449
Japan           98.903029
Sweden          79.246514
Denmark         48.480987
Name: Income, dtype: float64

In [40]:
df['Description'].value_counts()

WHITE HANGING HEART T-LIGHT HOLDER    2369
REGENCY CAKESTAND 3 TIER              2200
JUMBO BAG RED RETROSPOT               2159
PARTY BUNTING                         1727
LUNCH BAG RED RETROSPOT               1638
                                      ...
VINTAGE BEAD PINK JEWEL STAND            1
MISELTOE HEART WREATH CREAM              1
incorrectly put back into stock          1
DOORKNOB CERAMIC IVORY                   1
BLACKCHRISTMAS TREE 30CM                 1
Name: Description, Length: 4113, dtype: int64